@{
    Layout = "_Layout";
}



<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/pipeline/css/main.css" asp-append-version="true" />
</head>
<body>
    <div>
            @RenderBody()
    </div>
</body>
</html>